
.MENU2{
    align-items: center;
    margin-left:300px;
    margin-top: calc(75px + 15px);
    font-weight: bold;
    width:auto;
    position: fixed;
  }

.Comentarios{
    position: absolute;
  top: -110%;
  z-index: 2;
  margin-top: 70%;
  margin-left: 23.5%;
  padding: 20px;
  width: 70%;
  box-sizing: border-box;
  overflow: hidden;
  height: auto;
  background-color: lightgray;

}

.Comentarios textarea{
    height: 100px;
    width: 99%;
  }
