html {
    font-family: EucrosiaUPC, sans-serif;
}

.rectangulo {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin: 8px 0;
    font-size: 16px;
    display: inline-block;
    font-family: EucrosiaUPC, sans-serif;
    width: 30%;
    text-align: center;
}

form {
    align-items: center;
    justify-content: center;
    display:inline ;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: -10px; /*separacion entre contraseña y el input*/
}

button {
    width: 30%;
    padding: 6px 20px;
    margin: 4px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    left: 100px;
    margin-left: 250px;
}
  
div.container {
    border-radius: 5px;
    padding-top:25px;  
}

