
       .document_box{
        position: absolute;
        top: 20%; /*para q aparezca abajo de la caja de búsqueda*/
        right: 0;
        margin-top: 40px;
        
        margin-right: 85px; /*mover mas a derecha*/
        padding: 20px;
        width: 70%;
        box-sizing: border-box;
        overflow: hidden;
        
    }
    .document_box h3 {
        background-color: gray;
        color: black;
        padding: 5px 10px;
        margin: 0;
        width: 100%;
        font-family: 'Open Sans', sans-serif;
    }

    .document_box p{
        background-color: lightgray;
        height: 100px;
        padding: 5px 10px;
        margin: 0;
        width: 110%;
    }

    .document_box p input{
        margin-right: 20px;
        height: 100px;
    } /*AKI*/

    .MENU .two{
      background-color: #743484;
    }

    .MENU .one{
      background-color: #c1a7c7;
    }

    .TABLA{
      margin-top: 8%;
    }

    .Botones{
      appearance: none;
      background-color:#9570ec;
      border-radius: 24px;
      border-style: none;
      box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
      box-sizing: border-box;
      color: white;
      cursor: pointer;
      
      font-size: 14px;
      font-weight: 500;
      height: 48px;
      justify-content: center;
      letter-spacing: .25px;
      line-height: normal;
      max-width: 100%;
      overflow: visible;
      padding: 2px 24px;
      position: relative;
      
      width: auto;
      margin-right: 100px;
      align-items: center;
      display: inline-block;
      margin: 0 auto;
      text-align: center;
      
}

th{
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
}

  
  

