.document_box {
  position: absolute;
  top: 5%;
  
  right: 0;
  margin-top: 40px;

  margin-right: 85px;
  
  padding: 20px;
  width: 70%;
  box-sizing: border-box;
  overflow: hidden;

}

.document_box h3 {
  background-color: gray;
  color: black;
  margin: 0;
  width: 80%;
  font-family: 'Open Sans', sans-serif;
}

.document_box p {
  background-color: lightgray;
  height: 500px;
  padding: 5px 10px;
  margin: 0;
  width: 110%;
  
}

.document_box .Botones{
  margin-left: -100px;
  margin-bottom: 10px;
}



